.filterButtonHistory {
  margin-top: 30px;
  margin-right: 20px;
  width: 120px;
  height: 36px;
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.filterButtonHistory--text {
  font-family: "Inter", sans-serif;
  color: #00263a;
  font-size: 12px;
  margin-left: 6px;
  margin-right: auto;
}

.filterButtonHistory.active {
  background-color: #00263a;
}

.filterButtonHistory--text.active {
  font-family: "Inter", sans-serif;
  color: #fff;
  font-size: 12px;
  margin-left: 6px;
  margin-right: auto;
}

.filterButtonHistory--icon {
  margin-left: 10px;
}

@media (max-width: 480px) {
  .filterButtonHistory {
    width: 100%;
    margin-right: 0;
  }
  .filterButtonHistory--icon {
    margin: 0;
    margin-left: auto;
  }
}
