.searchBar {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 12px;
    margin-right: 20px;
  }
  
  .searchBar--input {
    width: 547px;
    height: 32px;
    border-radius: 25px;
    border: 1px solid #000;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    padding-left: 17px;
  }
  
  .searchBar--input::placeholder {
    color: rgba(0, 38, 58, 0.25);
  }
  
  .searchBar--icon {
    position: absolute;
    right: 10px;
    width: 14px;
    height: 14px;
    background-image: url('data:image/svg+xml;utf8,<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.0057 8.80503H9.37336L9.14923 8.58891C9.93368 7.67639 10.4059 6.49171 10.4059 5.20297C10.4059 2.32933 8.07662 0 5.20297 0C2.32933 0 0 2.32933 0 5.20297C0 8.07662 2.32933 10.4059 5.20297 10.4059C6.49171 10.4059 7.67639 9.93368 8.58891 9.14923L8.80503 9.37336V10.0057L12.8073 14L14 12.8073L10.0057 8.80503ZM5.20297 8.80503C3.20983 8.80503 1.60091 7.19611 1.60091 5.20297C1.60091 3.20983 3.20983 1.60091 5.20297 1.60091C7.19611 1.60091 8.80503 3.20983 8.80503 5.20297C8.80503 7.19611 7.19611 8.80503 5.20297 8.80503Z" fill="black" fill-opacity="0.25"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }
  @media (max-width: 768px) {
    .searchBar--input {
      width: 100%;
    }
    .searchBar {
      margin-left: 0;
    }
  }