.TitleFiller {
  color: #00263a;
}

.titlefiller--text {
  text-align: center;
  font-size: 35px;
}
@media (max-width: 480px) {
  .titlefiller--text {
    font-size: 25px;
    margin-bottom: 20px;
  }
}
