.App {
  font-family: "Inter", sans-serif;
}

.app--background {
  background-color: rgba(0, 38, 58, 0.05);
  margin-left: 188px;
  margin-right: 188px;
  margin-top: 60px;
}
.app--background--filters {
  display: flex;
  flex-direction: row;
  margin-bottom: 56px;
  position: relative;
}
.app--background--productQty {
  font-size: 10px;
  font-weight: 100;
  color: rgba(0, 38, 58, 0.5);
  margin-left: 12px;
}
@media (max-width: 480px) {
  .app--background--filters {
    column-gap: 10px;
  }
  .app--background {
    margin: 0 10px;
  }
  .app--background--filters {
    margin: 0 12px;
  }
}
